<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ALPHACHATbeta</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}alphachat.css" type="text/css"/>
    <link rel="stylesheet" href="../static/alphachat.css" type="text/css"/>
  </head>
  <body>
    <div id="container">



      <!-- CHAT -->
      <div id="chat_box">
        <div id="activity">x</div>

        <div id="status_bar">
          <div class="face_box alpha_face">
            <img src="http://profile.ak.fbcdn.net/object3/1116/30/q68310606562_3401.jpg" />
            <div><strong>α-chat</strong></div>
          </div>

          <div class="face_box red_face">
            <div>
              <img src="../static/50x50.png" />
            </div>
            <div><strong>red</strong></div>
          </div>
          <div class="face_box green_face">
            <div>
              <img src="../static/50x50.png" />
            </div>
            <div><strong>green</strong></div>
          </div>

          <div class="face_box blue_face">
            <img src="blue" />
            <div><strong>blue</strong></div>
          </div>
        </div>



        <div id="chat_area">

        </div>
        <div id="input_bar">
          <form id="message_form">
            <input id="new_message">
          </form>
        </div>
      </div>


      <!-- SCOREBOARD -->
      <div id="scoreboard_box">
        <center>
          <img src="http://profile.ak.fbcdn.net/object3/1116/30/n68310606562_3401.jpg" />
          <div>ALPHACHATTER</div>
        </center>
        <a href="#" id="menu">menu</a>
      </div>


      <!-- HELP -->
      <div id="help_box">
        <div>
          <h1>welcome to alpha chat.</h1>
          <p>click play</p>
          <p>chat with 2 others</p>
          <p>when the chat is over, pick who you liked best</p>
        </div>

        <a id="menu" href="#">menu</a>
      </div>


      <!-- LOBBY -->
      <div id="lobby_box">
        waiting for other chatters
      </div>

    </div>
    <script type="text/javascript" 
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js">
    </script>
    <script type="text/javascript"
            src="{{MEDIA_URL}}alphachat.js">
    </script>
  </body>
</html>
