<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ALPHACHATbeta</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}alphachat.css" type="text/css"/>
    <!-- <link rel="stylesheet" href="../static/alphachat.css" type="text/css"/> -->
  </head>
  <body>
    <div id="menubutton">
      MAINMENU
    </div>

    <div id="sidebar">

      <div id="logo">
        <div><strong> α </strong></div>
      </div>

      <div id="card_others">
        #card_others#
      </div>

      <div id="card_me">
        #card_me#
      </div>
    </div>

    <div id="content"> <!-- ######################################## -->
    </div> <!-- ######################################## -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"> </script>
    <script type="text/javascript" src="{{MEDIA_URL}}contrib/jquery.jqote2.min.js"> </script>
    <script type="text/javascript" src="{{MEDIA_URL}}alphachat.js"> </script>

  </body>
</html>
