<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ALPHACHATbeta</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}alphachat.css" type="text/css"/>
    <link rel="stylesheet" href="../static/alphachat.css" type="text/css"/>
  </head>
  <body>

    <div id="sidebar">
      <div id="alphachatter">
        <div class="face_box alpha_face">
          <img src="http://profile.ak.fbcdn.net/object3/1116/30/q68310606562_3401.jpg" />
          <div><strong>α</strong></div>
        </div>
      </div>
      <div id="chatters">
        #chatters#
      </div>
    </div>

    <div id="content"> <!-- ######################################## -->
    </div> <!-- ######################################## -->

    <script type="text/javascript" 
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js">
    </script>
    <script type="text/javascript"
            src="{{MEDIA_URL}}alphachat.js">
    </script>
  </body>
</html>
