h1= 'Game List'

table
  - for (var i in games)
    tr
      td #{games[i].name}
      td #{games[i].players.length}/#{games[i].players_needed}
      td
        form(method='get', action='game/'+games[i]._id)
          button join

form(method='post')
  span
    input(name='name', placeholder='game name')
  span
    input(name='players_needed', placeholder='number of players')
  span
    button create
