h1= 'Game List'

table
  - for (var i in games)
    tr
      td #{games[i].name}
      td #{games[i].players.length}/#{games[i].num_players}
      td
        form(method='post', action='join/'+games[i]._id)
          input(type='submit', value='join')

form(method='post')
  span
    input(name='name', placeholder='game name')
  span
    input(name='num_players', placeholder='number of players')
  span
    button create
