#app

  #connected
    span making socket connection...

  #content
    h1 alphachat gets backbone
    ul#player-list
    #chat
      ul#msg-list
      form.chat
        input(type="text")

!=partial('templates')
!=partial('js')
