body {
    padding: 0;
    margin: 0;
    font-family: mono;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
    padding: 50px;
}

#player-list {
    float: left;
    width: 25%;
}

#connected {
    background: pink;
    padding-left: .5em;
}
#connected.connected {
    background: lime;
}

#msg-list {
    height: 300px;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    background: #eee;
}
form input {
    width: 100%;
}
