/* add styles here */

html {
/*    height: 101%;*/               /*always show scrollbar*/
}

body {
  font-family:monospace;
  margin:0;
  background: black;
  color: white;
}

#votebox {
    display: block;
    position: absolute;
    top: 0;
    background: #d00;
    color: black;
    padding: 1em;
    border-radius: 5px;
}
#votebox .header {
    text-align: center;
    font-size: 200%;
    margin-bottom: .5em;
    padding: 0;
}
#votebox .choice {
    text-align: center;
    background: white;
    border-radius: 3px;
    padding: .1em;
    margin-bottom: 1em;
    border: 3px solid white;
}
#votebox .choice:hover {
    cursor: pointer;
}
#votebox .selected {
    border: 3px solid black;
}


.wrapper {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin:0;
    padding:0;
}

#login {
    width: 50%;
    margin: auto;
    border-radius: 15px;
    margin-top: 2em;
    padding: 0px;
    background: #ccc;
    color: black;
    text-align: center;
    padding: 1em;
}
#login h1 {
    margin: 0;
}
#login form input {
    width: 8em;
    background: #333;
    color: #fff;
}

form input {
    font-family:monospace;
}
form input.red {
    background: #f99;
    color: red;
}
form input.green {
    background: #9f9;
    color: green;
}
form input.blue {
    background: #99f;
    color: blue;
}

#items {
    padding-bottom: 4em;
}

.dummy {
    background: black;
}
#toolbar {
  position: fixed;
  bottom: 0;
  width: 80%;
}
form {
    margin: 0;
}
form.chat input {
    margin: 0;
    border: 0;
    width: 100%;
}

#status {
    padding: 2px;
    background:#111;
    color:gray;
}

#status .time {
}
#status .conn {
    float: right;
    color: gray;
}
#status .vote .option {
    border-radius: 3;
    border: solid 2px #333;
}
#status .vote .option:hover {
    cursor: pointer;
    border: solid 2px #cc0;
}
#status .vote .pick:hover {
    border: solid 2px #ff0;
}
#status .vote .pick {
    border-radius: 3;
    border: solid 2px yellow;
}
#status .action {
    color: #ddd;
}
#status .action:hover {
    color: yellow;
    cursor: pointer;
}

.server { text-align: center; }
.server.part { 
    text-align: left;
    color: gray;
}

.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
