/* add styles here */

html {
/*    height: 101%;*/               /*always show scrollbar*/
}

body {
  font-family:monospace;
  margin:0;
  background: black;
  color: white;
}

p {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
}

#votebox {
    border: 2px solid darkgray;
    background: gray;
    color: black;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    padding: .1em;
    font-size: 150%;
    text-align: center;
}
#sidebar .red {
    border: 2px solid red;
    background: #d22;
}
#sidebar .green {
    border: 2px solid green;
    background: #2b2;
}
#sidebar .blue {
    border: 2px solid blue;
    background: #22e;
}

#votebox .header {
    margin-bottom: .5em;
    padding: 0;
}
#votebox .vote {
    font-size: 200%;
    margin-bottom: .5em;
    padding: 0;
}
#votebox:hover {
    cursor: pointer;
}

#login {
    position: absolute;
    z-index: 100;
    display: block;
    width: 30%;
    margin-left: 35%;
    border-radius: 15px;
    margin-top: 2em;
    padding: 0px;
    background: #ccc;
    color: black;
    text-align: center;
    padding: 1em;
}
#login h1 {
    margin: 0;
}
#login form input {
    width: 8em;
    background: #333;
    color: #fff;
}

form input {
    font-family:monospace;
}
form input.red {
    background: #f99;
    color: red;
}
form input.green {
    background: #9f9;
    color: green;
}
form input.blue {
    background: #99f;
    color: blue;
}

#items {
    background: #000;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    position: absolute;
    top: 3em;
    left: 20%;
    bottom: 2.3em;
    width: 80%;
    padding-bottom: 1em;
}

#toolbar {
    z-index: 100;
    background: #555;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    position: fixed;
    width: 100%;
}
form {
    margin: 0;
}
#chat form input {
    margin: 0;
    margin-left: 20%;
    border: 0;
    width: 80%;
}

.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}

#chat {
    position: absolute;
    width: 100%;
    bottom: 1em;
    margin: 0;
    padding: 0;
}

#sidebar {
    float: left; 
    background: #222;
    width: 20%;
    height: 100%;
    position: relative;
}


#sidebar .pad {
     margin-top: 5em;
}
#info {
    background: gray;
    border: 3px solid lightgray;
    color: black;
    margin: 1em;
    border-radius: 3px;
}
#info h1 {
    text-align: center;
}