body {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    background: white; /**/
}

#sidebar {
    width: 100px;
    height: 400px;
    float: left;
    background: white;/**/
}
#content {
    font-size: 1.5em;
    height: 400px;
    padding: 0px;
    margin: 0px;
    background: white;/**/
}
#chat {
    border-left: solid 1px gray;
    height: 350px;
    background: white;/**/
    overflow-y: scroll;
}
#input {
    /*border-top: solid 1px white;*/
    height: 50px;
    padding: 0px;
    margin: 0px;
    background: white; /**/
    overflow-y: scroll;
}
#inputbar {
    width: 100%;
    /* background: white; */
    margin-top: 3px;
    /* padding: 3px; */
    /* border-left: solid 0px white; */
    /* border-right: solid 0px white; */
    /* border-bottom: solid 0px white; */
    /* border-top: solid 1px blue; */
    font-size: 1em;
    font-family: monospace;
}

.face_box {
    text-align: center;
    margin: 10px;
    height: 72.5px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
}
.face_box:hover {
    color: yellow;
}
.red_face { color: #000; background: #c55;}
.green_face { color: #000; background: #5c5;}
.blue_face { color: #000; background: #55c;}
.alpha_face { color: white; background: #333; }

.chat_msg {
    padding-top: 3px;
    margin: 0px;
    background: white;
    /* border: dotted 1px white; */
}
.chat_name {
    float:left;
    display: block;
    font-weight: bold;
}    
.chat_text {
    display: block;
}
.red_name { color: #c55; background: white;}
.red_text { color: #c55; background: white;}
.green_name { color: #3a3; background: white;}
.green_text { color: #3a3; background: white;}
.blue_name { color: #33a; background: white;}
.blue_text { color: #33a; background: white;}

/* main menu */
.title {
    font-size: 2em;
}
.button {
    margin-left: 10px;
    margin: 3px;
    padding: 3px;
    display: block;
    color: black;
    background: #eee;
    border: 3px solid black;
    font-size: 1.5em;
    display: inline;
}
.button:hover {
    background: black;
    color: white;
}
.title {
    font-family: serif monospace;
    font-size: 300%;
    margin: 10px;
}
.subtitle {
    font-size: 50%;
}
#mainmenu {
    height: 350px;
    background: white;/**/
    overflow-y: scroll;
}
