.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collaps")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="#") Alphachat gets Backbone

.container-fluid
  #app
    .row-fluid
      .span2
        h1 players
        ul#player-list
      .span10
        ul#msg-list
        span#connected(class="label label-important") disconnected
        form.chat
          input(type="text", placeholder="type message here and press enter")

!=partial('templates')
!=partial('js')
