.container
  .hero-unit
    h1 alphachat
    p be the best
    p
      form(action="play")
        input.nick(type="text", placeholder="Nickname", name="nick")
        input(type="submit", value="Play Now!", class="btn-medium btn-primary")

.container
  .row
    .span4
      h2 Chat
      p You are in an anonymous chatroom with a bunch of other players.  Talk about whatever you want, however you want.  Make alliances, gang up on someone, or just hang back and wait for your opportunity to strike.  There are no rules, just don't be the one that gets voted off!
    .span4
      h2 Vote
      p Cull the herd.  Every few minutes everyone selects a player to kick out of the game.  The player with the most votes will be removed from the chat.  A new round of chatting begins immediately.
    .span4
      h2 Win!
      p Chat and vote rounds continue until there are only two players left.  The players who were voted off earlier come back and choose the winner!

script(src="/js/jquery-1.7.1.js")
script.
  console.log($('input.nick'));
  $('input.nick').focus();
