.container-fluid
  .hero-unit
    h1 alphachat
    p be the best
    p
      form(action="play")
        input.nick(type="text", placeholder="Nickname", name="nick")
        input(type="submit", value="Play Now!", class="btn-medium btn-primary")

    .row
      .span4
        h2 chat
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .span4
        h2 vote
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .span4
        h2 win
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

script(src="/js/jquery-1.7.1.js")
script.
  console.log($('input.nick'));
  $('input.nick').focus();
