!!! 5
html
  head
    meta(charset="utf-8")
    title Alphachat2
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    style.
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
      }

    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css")

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#") Alphachat
          span#connected(class="label label-important") disconnected

    != body
