#app.container-fluid
  .row-fluid
    .span2
      .well.well-small
        h3 You are 
          span#self
        hr
        h4 
          span Players
        ul#opponents.player-list
    .span8
      h1
        span Waiting for more players
      #timer.progress.progress-striped
      #chatbox.well.well-small
        ul#msg-list.unstyled
        form.chat
          input(type="text", placeholder="Type message and press enter", spellcheck="false")
    .span2
      .well.well-small
        h3
          span The Jury
        hr
        p
          em No jury members
        ul#jury-list.nav.nav-pills.nav-stacked

!=partial('templates')
script(src="/socket.io/socket.io.js")
script(src="/js/libs/require/require.js", data-main="/js/main")

