#app.container-fluid
  .row-fluid
    .span2
      .well
        h4 Survivors
        ul#player-list.nav.nav-pills.nav-stacked
    .span8
      h1 Chat Round 1 of 8
      #timer.progress.progress-striped
      .well
        ul#msg-list.unstyled
        form.chat
          input(type="text", placeholder="Type message and press enter", spellcheck="false")
    .span2
      .well
        h4 Jury
        p
          em No jury members
        ul#jury-list.nav.nav-pills.nav-stacked

!=partial('templates')
!=partial('js')

script.
  socket.emit('join', {game_id: 1, nick: '#{nick}'})
