//- -*- html -*-
script#message-template(type="text/template").
  <div class="message">
    <span class="time">[<%= time %>]</span>
    <span class="player"><%= player.get('nick') %></span>:
    <span class="body"><%= _.escape(body) %></span>
  </div>
