#msg-list {
    height: 300px;
    overflow-y: scroll;
}

form.chat input {
    width: 100%;
}

input.nick {
    width: 25%;
}

.message .time {
    color: gray;
}

.message .player {
    font-weight: bold;
}

/* turn off easing on progress bar */
#timer.progress .bar {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

#opponents.player-list .active a,
#opponents.player-list .active a:hover {
    background-color: #ff6347;
}
