#msg-list {
    height: 300px;
    overflow-y: scroll;
}

form.chat input {
    width: 100%;
}

input.nick {
    width: 25%;
}

div.message span.time {
    color: gray;
}

/* turn off easing on progress bar */
#timer.progress .bar {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}