body {
    margin-left:2em;
    font-family: monospace;
}

#box {
    border: 1px solid black;
    height: 20em;
    width: 70%;
    overflow-y: scroll;
}

#events {
    border: 1px dashed blue;
    margin: .5em auto;
    padding: .2em;
    width: 90%;
    display: none;
}

#status {
}

#chat {
    width: 60%;
}

.formclass {
    font-size: 1em;
    font-family: monospace;
}
