/* add styles here */

body {
  font-family:monospace;
  margin:0;
  background: black;
  color: white;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin:0;
    padding:0;
}

.login h1 {
    margin: 0;
}
.login {
    border-radius: 15px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background: gray;
    color: black;
    text-align: center;
    padding: 3em 1em;
}
form input {
    background: #4cc;
    font-family:monospace;
}
.login form input {
    width: 8em;
}

#items {
    padding-bottom: 4em;
}

#toolbar {
  position: fixed;
  bottom: 0;
  width: 80%;
}

form {
    margin: 0;
}
form.chat input {
    margin: 0;
    border: 0;
    width: 100%;
}

#status {
    padding: 2px;
    background:#111;
    color:black;
}

#status .conn {
    float: right;
    color: gray;
}
#status .vote .option {
    border-radius: 3;
    border: solid 2px #333;
}
#status .vote .option:hover {
    cursor: pointer;
    border: solid 2px #cc0;
}
#status .vote .pick:hover {
    border: solid 2px #ff0;
}
#status .vote .pick {
    border-radius: 3;
    border: solid 2px yellow;
}
#status .action {
    color: #ddd;
}
#status .action:hover {
    color: yellow;
    cursor: pointer;
}

.server { text-align: center; }

.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
