/* add styles here */

body {
  font-family:monospace;
  padding:0;
  margin:0;
}

#status {
  background:black;
  color:white;
}

#items {
  background:#eee;
  padding-bottom: 4em;
}

#toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  padding:0;
  margin:0;
}

form.chat {
  background-color:black;
  color: green;
}
form.chat input {
    padding: 0;
    margin: 0;
    background-color:white;
    width: 100%;
}

.users {
    float: right;
}
