/* add styles here */

body {
  font-family:monospace;
  padding:0;
  margin:0;
}

#items {
  padding-bottom: 3em;
}

#toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  padding:0;
  margin:0;
}

form {
    padding: 0;
    margin: 0;
}
form.chat input {
    padding: 0;
    margin: 0;
    background-color:white;
    width: 100%;
}

#status {
  background:#ddd;
  color:white;
}

#status .conn {
    float: right;
    color: gray;
}
#status .vote .option:hover {
    cursor: pointer;
    background: #fff;
}
#status .vote .pick {
    background: yellow;
}
#status .action {
    color: #ddd;
}
#status .action:hover {
    color: #fff;
    cursor: pointer;
}

.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
